body {
  font: 18px "Ubuntu", sans-serif;
  line-height: 1.8;
  background: #FAFFFD;
  color: #342E37;
}

/* BEGIN signin form*/
#signin {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.progress {
  margin-top:10px;
  display:none;
}

.alert {
  display:none;
}

/*END signin form */


#main {
  display:none;
  width: 95%;
}

#messagesouter {
  display:none;
}

p {
  font-size: 16px; 
  text-align: justify;
}

.sidebar {
  background: #3C91E6;
  color: #FAFFFD;
}

.nopad {
  padding-right: 0px;
}

.msgFromMe {
  margin-left: 10% !important;
  background-color: #9FD356;
}

.msgToMe {
  margin-right: 10% !important;
  background-color: #c0c6bc;
}

.msgFromMe, .msgToMe {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;  
}

footer {background-color: #FA824C !important;}
/*footer a {color: #46876D;}
footer a:hover {color: #286B50;} 
3C91E6*/
